<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Admin Panel</h1>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Operator</th>
                        <th>Circle</th>
                        <th>Mobile Number</th>
                        <th>Amount</th>
                        <th>Status</th>
						<th>Payment</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order['_id'] }}</td>
                        <td>{{ order['operator'] }}</td>
                        <td>{{ order['circle'] }}</td>
                        <td>{{ order['mobile'] }}</td>
                        <td>{{ order['amount'] }}</td>
                        <td>{{ order['status'] }}</td>
						<td>{{ order['payment_method']}}</td>
                        <td>
                            <form action="{{ url_for('update_status', order_id=order['_id']) }}" method="post">
                                <select name="status">
                                    <option value="Pending" {% if order['status'] == 'Pending' %}selected{% endif %}>Pending</option>
                                    <option value="Completed" {% if order['status'] == 'Completed' %}selected{% endif %}>Completed</option>
                                    <option value="Failed" {% if order['status'] == 'Failed' %}selected{% endif %}>Failed</option>
                                </select>
                                <button type="submit">Update</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
            <p>&copy; 2024 Recharge Website. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
